@font-face {
    font-family:'Manrope' ;
    src: url('../assets/fonts/Manrope/Manrope-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Caveat';
    src: url('../assets/fonts/Caveat/Caveat.woff2');
}